{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": false,
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "printWidth": 80
}
